<div class="container">
    <div class="row border mt-4">
        <div class="col border">
            <h1 class="mt-2 border" id="title">St. Louis Sports News</h1>
            <button type="button" class="btn btn-primary btn-lg ml-4 mb-3" id="scrape">Scrape Articles</button>
            <button type="button" class="btn btn-primary btn-lg ml-2 mb-3" id="clear">Clear Articles</button>
        </div>
    </div>
    <div class="row border" id="results">
        {{#if articles}}
        {{#each articles}}
        <div class="col-md-4 border">
            <div class="card">
                <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{this.link}}" target="_blank">{{this.title}}</a></h5>
                    <button type="button" class="btn btn-primary btn-sm save" data-id="{{this._id}}">Save Article</button>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <h5>You don't have any results yet.</h5>
        {{/if}}
    </div>
</div>