<div class="container">
    <div class="row border mt-4">
        <div class="col border">
            <h1 class="mt-2 border" id="title">Saved Articles</h1>
        </div>
    </div>
    <div class="row border" id="results">
        {{#if articles}}
        {{#each articles}}
        <div class="col-md-4 border">
            <div class="card">
                <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{this.link}}" target="_blank">{{this.title}}</a></h5>
                    <button type="button" class="btn btn-primary btn-sm remove" data-id="{{this._id}}">Remove</button>
                    <button type="button" class="btn btn-primary btn-sm notes" data-id="{{this._id}}" data-toggle="modal" data-target="#notes">Article notes</button>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <h5>You don't have any results yet.</h5>
        {{/if}}
    </div>
</div>
{{!-- Modal to see, add notes --}}
<div class="modal" id="notes" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {{#each articles}}
        <h5 class="modal-title">{{this.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="old-notes">
        </div>
       <textarea class="form-control" rows="3" id="note-content" placeholder="Enter your note here."></textarea>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary save-note" data-id="{{this._id}}" data-dismiss="modal">Save changes</button>
      </div>
        {{/each}}
    </div>
  </div>
</div>